{% extends "header.html" %}

{% block body %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        h2 {
            color: white;
            font-family: 'Great Vibes';
            text-align: center;
            font-size: 4em;
            padding-top: 10px;
            text-shadow: 2px 2px 7px #EE7979;
        }

        h3 {
            font-family: 'Architects Daughter';
            font-size: 3em;
        }

        p {
            font-family: 'Lobster';
            font-size: 1em;
        }

    </style>
    </head>
    <body>

    <h2>He and She</h2>
    <div class="row" style="padding: 0px 3em;height: 90%; display: table">

        <div class="col-md-5" style="background: #ececec;display: table-cell; height:100%">

            <h3 style="text-align: center; color:black">Wally</h3>

            <div class="row" style="padding-top: 2em">
                <img src="/image/aboutus/wally.jpg" style="display:block;margin: auto;width: 90%">
            </div>

            <div style="padding-top: 1em"></div>
            <div class="row">
                <div style="color:black;display: block;margin: auto;width: 90%;height: 700px;">

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu scelerisque nulla, posuere
                        pellentesque erat. Quisque fermentum imperdiet tincidunt. Sed quis mi ut dui consectetur
                        vestibulum. Curabitur tempor luctus enim non rhoncus. Etiam velit nisi, sodales id felis quis,
                        porttitor scelerisque nisl. Curabitur aliquet purus quis enim volutpat imperdiet. Sed nibh elit,
                        eleifend in maximus nec, placerat vitae elit. Aenean metus tortor, tempus eu leo vel, maximus
                        placerat magna. Aenean vitae dui quis tellus dignissim egestas sed vel justo. Proin ut odio
                        faucibus, sodales felis eu, porttitor ligula. Sed varius vitae quam sed imperdiet.

                        Vestibulum vel suscipit elit. Aliquam eget neque eu tortor facilisis molestie at et mi. Sed
                        gravida auctor purus nec faucibus. Aliquam vitae ligula id massa ullamcorper tincidunt non a
                        leo. Donec libero arcu, maximus aliquam orci nec, efficitur ultricies risus. Morbi vel libero
                        ullamcorper, tempus orci finibus, volutpat libero. Nunc luctus massa massa, et eleifend sem
                        semper id. Nullam tincidunt, felis quis cursus venenatis, metus elit sodales libero, at auctor
                        libero justo sed ante. Ut sit amet magna vel felis eleifend ullamcorper.
                        Suspendisse dignissim sit amet tellus quis aliquam. Vivamus porttitor fringilla nisi eget
                        pharetra. Integer nunc libero, facilisis non gravida ac, interdum eget nulla. Ut id blandit
                        odio. Sed elementum congue tortor in lobortis. Aenean vulputate, lectus eu euismod luctus, eros
                        mi consequat velit, ac sodales tellus ipsum at ex. Morbi lorem mauris, maximus ut malesuada
                        eget, malesuada sit amet nisl. Quisque a vehicula enim. Nunc efficitur, turpis id tincidunt
                        accumsan, tellus nulla laoreet nisi, eget eleifend est elit sit amet dui.

                        Phasellus sit amet orci ut odio fermentum semper. Nullam vel eros id enim accumsan mollis eget
                        sit amet odio. Curabitur egestas aliquam erat sed dignissim. Nunc interdum est finibus, vehicula
                        nulla sed, feugiat purus. Nunc a ipsum euismod, hendrerit arcu at, aliquam tellus. Suspendisse
                        potenti. In quis enim velit. Nam in volutpat nisi. Donec nec malesuada enim. Morbi mi velit,
                        vestibulum ut porta sed, ullamcorper non quam. Mauris interdum hendrerit ligula, non ornare orci
                        feugiat sit amet.

                        Duis sed quam quam. Suspendisse et purus dolor. Vivamus vel arcu odio. Suspendisse imperdiet
                        risus sapien. Donec risus eros, eleifend id libero nec, convallis dignissim justo. Aliquam sem
                        mi, sodales quis ipsum ut, convallis interdum felis. Donec id cursus magna. Cras posuere a urna
                        eget vestibulum. Nam ultricies justo vel purus hendrerit, eget efficitur nulla convallis. Sed
                        ullamcorper leo ac velit maximus porttitor. Mauris eu diam venenatis, pellentesque eros ac,
                        scelerisque ligula.
                    </p>

                </div>

            </div>

        </div>

        <div class="col-md-2"></div>

        <div class="col-md-5" style="background: #ececec;display: table-cell; height: 100%">

            <h3 style="text-align: center; color:black">Patty</h3>

            <div class="row" style="padding-top: 2em">
                <img src="/image/aboutus/patty.jpg" style="display:block;margin: auto;width: 50%">
            </div>

            <div style="padding-top: 1em"></div>
            <div class="row">
                <div style="color:black;display: block;margin: auto;width: 90%; height: 700px">

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non mi ac lorem tincidunt
                        vehicula in sit amet ex. Etiam eget efficitur nisl, quis accumsan arcu. Sed elementum mauris
                        arcu, imperdiet consequat velit sodales vitae. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Aliquam molestie egestas nunc eget tincidunt. Sed tempor, augue nec aliquam
                        rhoncus, nisi sapien tempor ipsum, ut accumsan sapien diam sit amet justo. Nunc a mattis urna,
                        dictum fermentum augue. Suspendisse sagittis dui ut consequat luctus. Nulla nisi turpis, auctor
                        non libero sed, varius porttitor mi. Vivamus ac molestie velit. Phasellus cursus mauris nec
                        sapien ultrices, vitae egestas tellus pharetra. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Cras euismod mi non nisi imperdiet, sit amet tempor leo fermentum.

                        Vivamus urna sem, ultricies egestas nisl vel, maximus eleifend ligula. Etiam et quam eget justo
                        malesuada dictum at id sapien. Phasellus laoreet, nisi quis gravida tincidunt, dui sapien
                        euismod neque, sit amet ultrices ante arcu eleifend leo. Nunc maximus magna lectus, a egestas
                        dui molestie vitae. Etiam ut nunc et est porta mollis vitae sit amet turpis. Quisque
                        sollicitudin neque nec ex varius luctus. Sed dignissim molestie lorem, at dapibus purus.
                        Vestibulum sed ligula tristique, luctus dui ut, porttitor quam. Vivamus at enim aliquam, luctus
                        tortor laoreet, venenatis massa. Duis non felis suscipit, pharetra magna vel, elementum eros. In
                        tempus in eros a rutrum. Donec elit est, scelerisque eget nulla id, gravida feugiat dui. Vivamus
                        dui odio, interdum id quam vel, fermentum ullamcorper lacus. Nulla facilisi. Sed semper maximus
                        vestibulum.
                    </p>

                </div>

            </div>

        </div>

    </div>




{% endblock %}