{% extends "header.html" %}

{% block body %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.min.js"></script>

    <style>

        #slideshow {
            display: block;
            margin: auto;
            width: 50%;
            background: white;
        }

        #slideshowbox {
            margin:auto;
            margin-top: 2em;

        }

        .galleria {
{#            max-width: px;#}
            width: 100%;
            height: 600px;
            background: #fff

        }

        h2 {
            color: white;
            font-family: 'Great Vibes';
            text-align: center;
            font-size: 4em;
            padding-top: 10px;
            text-shadow: 2px 2px 7px #EE7979 ;
        }
    </style>

    <h2>Gallery</h2>

    <div id="slideshow">
        <div id="slideshowbox">
            <div class="galleria">
                {% for each in range(18) %}
                    <img src="/image/slideshow/image{{ each }}.jpg">
                {% endfor %}

            </div>
        </div>

    </div>



    <script>
        (function () {
            Galleria.loadTheme('static/themes/classic/galleria.classic.min.js');
            Galleria.run('.galleria', {
                transition: 'fade',
                autoplay: 3000
                }

            );
        }());
    </script>


{% endblock %}