{% extends "header.html" %}

{% block body %}

    <style>
        h3 {
            color: white;
            font-family: 'Great Vibes';
            text-align: center;
            font-size: 5em;
            padding-top: 20px;
        }

        #clock {
            padding-top: 3em;
            text-align: center;
        }

        #clockdiv {
            font-family: sans-serif;
            color: #fff;
            display: inline-block;
            font-weight: 100;
            text-align: center;
            font-size: 30px;
            align-content: center;
            opacity: .65;
        }

        #clockdiv > div {
            padding: 10px;
            border-radius: 3px;
            background: #FF9933;
            display: inline-block;
        }

        #clockdiv div > span {
            padding: 15px;
            border-radius: 3px;
            background: #cccc00;
            display: inline-block;
        }

        .smalltext {
            padding-top: 5px;
            font-size: 16px;
        }

        #wrapperslideshow {
            padding-top: 3%;
            text-align: center;
        }

        #innerwrapperslideshow {
            display: inline-block;

        }

        #slideshow {
            position: relative;
            width: 500px;
            height: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        }

        #slideshow > div {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
        }

    </style>

    <h3>Wally + Patty</h3>

    <div id="wrapperslideshow">

        <div id="innerwrapperslideshow">
            <div id="slideshow">
                <div>
                    <img src="/image/image01.jpg">
                </div>

                <div>
                    <img src="/image/image02.jpg">
                </div>

            </div>

        </div>


    </div>



    <div id="clock">
        <div style="color:white; padding-left: 1em; font-size: 1.7em; font-family: 'Great Vibes';">Will be the happiest
            couple in the world in
        </div>
        <div id="clockdiv">
            <div>
                <span class="days"></span>
                <div class="smalltext">Days</div>
            </div>
            <div>
                <span class="hours"></span>
                <div class="smalltext">Hours</div>
            </div>
            <div>
                <span class="minutes"></span>
                <div class="smalltext">Minutes</div>
            </div>
            <div>
                <span class="seconds"></span>
                <div class="smalltext">Seconds</div>
            </div>
        </div>

    </div>



    <script>
        function getTimeRemaining(endtime) {
            var t = Date.parse(endtime) - Date.parse(new Date());
            var seconds = Math.floor((t / 1000) % 60);
            var minutes = Math.floor((t / 1000 / 60) % 60);
            var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
            var days = Math.floor(t / (1000 * 60 * 60 * 24));
            return {
                'total': t,
                'days': days,
                'hours': hours,
                'minutes': minutes,
                'seconds': seconds
            };
        }

        function initializeClock(id, endtime) {
            var clock = document.getElementById(id);
            var daysSpan = clock.querySelector('.days');
            var hoursSpan = clock.querySelector('.hours');
            var minutesSpan = clock.querySelector('.minutes');
            var secondsSpan = clock.querySelector('.seconds');

            function updateClock() {
                var t = getTimeRemaining(endtime);

                daysSpan.innerHTML = t.days;
                hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
                minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

                if (t.total <= 0) {
                    clearInterval(timeinterval);
                }
            }

            updateClock();
            var timeinterval = setInterval(updateClock, 1000);
        }

        var deadline = new Date(Date.parse(new Date()) + 173 * 24 * 60 * 60 * 1000);
        initializeClock('clockdiv', deadline);

        $("#slideshow > div:gt(0)").hide();

        setInterval(function () {
            $('#slideshow > div:first')
                .fadeOut(1000)
                .next()
                .fadeIn(4000)
                .end()
                .appendTo('#slideshow');
        }, 3000);


    </script>

{% endblock %}